.parent {
    border: 1px solid blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.header {
    border: 0px;
    display: flex; /*since this has child elements too */
    justify-content: left;


}

.categories {
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction:row;

}

.icon {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: left;
}

.information {
    padding: 10px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}